
nav{
    width: 90%;
    height: 35%;
    padding: 10px;
    background-color: black;
    margin: auto;
}
nav ul{
    list-style: none;
    text-align: left;
}
nav ul li{
    display: inline;
    padding: 10px;
    width: 5%;
    line-height: 40px;
}
nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: red;
}
nav ul li a:hover{
    background-color: white;
    transition: ease-in 1s;
    color: black;
    border-radius: 10px;

}
.f{
    text-align: right;
    margin-right: 90%;
    background-color: black;
    width: 200px;
}
.t{
    display: flex;
    margin-top: 1%;
}
.s{
    text-align: right;
    margin: auto;
}
.s3{
    width: 100px;
}
h1{
    font-size: 60px;
    color: red;
    background-color: black;
}
h2{
    font-size: 30px;
    color: red;
    background-color: black;
}